---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width" />
            <meta name="generator" content={Astro.generator} />
            <title>Jeffrey Lonzanida | Login</title>
        </head>
        <body>
            <div
                class="min-h-screen">

            </div>
        </body>
    </html>
</Layout>